                                $lightFontColor:#707070;
                                $darkFontColor:#3E3E3E;
                                $primaryColor:rgb(44, 62, 80);
                                .main-wrapper {
                                    height: 100vh;
                                    width: 100vw;
                                    .left-section {
                                        height: 100%;
                                        background-color: $primaryColor;
                                        .lg-icon-container {
                                            color: white;
                                            text-align: center;
                                            font-weight: bold;
                                            cursor: pointer;
                                            transition: .5s;
                                            font-size: 14px;
                                            .icon {
                                                width: 35%;
                                                margin-bottom: .1rem;
                                            }
                                        }
                                    }
                                    .middle-section {
                                        padding-left: 1.5rem;
                                        .header {
                                            height: 3.5rem;
                                            box-shadow: 0px 3px 6px #00000029;
                                            color: $lightFontColor;
                                            font-weight: bold;
                                            .order-num {
                                                font-size: 33px;
                                                line-height: 1.5;
                                                font-style: italic;
                                            }
                                            .time {
                                                line-height: 3.8;
                                                font-size: 14px;
                                            }
                                        }
                                        .add-user {
                                            border-radius: 10px;
                                            box-shadow: 0px 3px 6px #00000029;
                                            display: flex;
                                            justify-content: space-around;
                                            padding: .5rem;
                                            color: $lightFontColor;
                                            height: 3rem;
                                            font-weight: bold;
                                            cursor: pointer;
                                            .label {
                                                font-size: 14px;
                                                line-height: 2.2;
                                            }
                                        }
                                        .selected {
                                            background-color: rgba(44, 62, 80, 0.1);
                                            border: 1px solid rgba(44, 62, 80, .2);
                                            border-radius: 10px;
                                            color: $primaryColor;
                                        }
                                        .display-flex {
                                            display: flex;
                                            justify-content: center;
                                            flex-wrap: wrap;
                                        }
                                        .display-none {
                                            display: none;
                                        }
                                        .cheque {
                                            height: 40vh;
                                            overflow-y: auto;
                                            overflow-x: hidden;
                                            margin: auto;
                                            margin-bottom: .5rem;
                                            margin-top: .5rem;
                                            .order {
                                                color: $lightFontColor;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                .delete-icon {
                                                    cursor: pointer;
                                                    width: 10% !important;
                                                }
                                                .order-details {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    align-items: center;
                                                    border-bottom: .2rem solid #F5F5F5;
                                                    margin: 0 .5rem 0 1rem;
                                                    padding: 1.5rem 0;
                                                    width: 90% !important;
                                                    .order-info {
                                                        width: 50%;
                                                        display: inline-block;
                                                        font-size: 12px;
                                                        font-weight: bold;
                                                        .sub-info {
                                                            font-size: 10px;
                                                        }
                                                    }
                                                    .count {
                                                        display: inline-block;
                                                        position: relative;
                                                        width: 2rem !important;
                                                        .no {
                                                            display: inline-block;
                                                            width: 2rem;
                                                            height: 1.5rem;
                                                            line-height: 1.5;
                                                            box-shadow: 0px 3px 6px #00000029;
                                                            text-align: center;
                                                            input[type=number]::-webkit-inner-spin-button {
                                                                -webkit-appearance: none;
                                                            }
                                                            input {
                                                                border: none;
                                                                width: 2rem;
                                                                padding-left: .7rem;
                                                                outline: none;
                                                                background-color: transparent;
                                                            }
                                                        }
                                                        .arrow-up {
                                                            background-color: $primaryColor;
                                                            display: inline-block;
                                                            width: 2rem;
                                                            height: 1.2rem;
                                                            border-top-right-radius: 10px;
                                                            border-top-left-radius: 10px;
                                                            position: absolute;
                                                            right: 0px;
                                                            top: -16px;
                                                            color: white;
                                                            text-align: center;
                                                            line-height: 1;
                                                            cursor: pointer;
                                                        }
                                                        .arrow-down {
                                                            background-color: $primaryColor;
                                                            display: inline-block;
                                                            width: 2rem;
                                                            height: 1.2rem;
                                                            border-bottom-right-radius: 10px;
                                                            border-bottom-left-radius: 10px;
                                                            position: absolute;
                                                            color: white;
                                                            bottom: -16px;
                                                            right: 0px;
                                                            text-align: center;
                                                            line-height: 1;
                                                            cursor: pointer;
                                                        }
                                                    }
                                                    .price {
                                                        width: 20% !important;
                                                        font-size: 11px !important;
                                                        font-weight: bold;
                                                        text-align: center;
                                                    }
                                                }
                                            }
                                        }
                                         ::-webkit-scrollbar {
                                            width: 6px;
                                        }
                                         ::-webkit-scrollbar-track {
                                            background: #f1f1f1;
                                        }
                                         ::-webkit-scrollbar-thumb {
                                            background: $primaryColor;
                                            border-radius: 1rem;
                                        }
                                         ::-webkit-scrollbar-thumb:hover {
                                            background: rgba(202, 42, 1, .5);
                                        }
                                        .total-cheque {
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            padding: 0 1.25rem;
                                            color: $lightFontColor;
                                            font-weight: bold;
                                            font-size: 14px;
                                            margin-top: 0;
                                            height: 1.5rem;
                                        }
                                        .total {
                                            font-size: 18px;
                                            margin-bottom: 1rem;
                                        }
                                        .charge {
                                            height: 3rem;
                                            background-color: $primaryColor;
                                            color: white;
                                            border-radius: .8rem;
                                            font-size: 1.4rem;
                                            font-weight: bold;
                                            display: flex;
                                            padding: 1rem;
                                            line-height: .5;
                                            justify-content: space-between;
                                            margin-top: 1rem;
                                        }
                                        .footer {
                                            position: fixed;
                                            bottom: 2rem;
                                            height: 3.5rem;
                                            width: 23%;
                                        }
                                    }
                                    .right-sectoin {
                                        header {
                                            box-shadow: 0px 3px 6px #00000029;
                                            height: 3.5rem;
                                            .search {
                                                box-shadow: 0px 3px 6px #00000029;
                                                border-radius: 15px;
                                                height: 70%;
                                                margin-top: 15%;
                                                color: #F5F5F5;
                                                background-color: #F5F5F5;
                                                .search-input {
                                                    cursor: pointer;
                                                    outline: none;
                                                    border: none;
                                                    width: 75%;
                                                    background-color: transparent;
                                                }
                                                 ::placeholder {
                                                    font-size: 1.1rem;
                                                    color: #d1cdcd;
                                                }
                                                label {
                                                    cursor: pointer;
                                                    margin-top: .5%;
                                                }
                                            }
                                            .barcode {
                                                width: 31%;
                                                cursor: pointer;
                                                margin-top: .3rem;
                                            }
                                        }
                                        .category {
                                            border-bottom: .1rem solid #F5F5F5;
                                            padding: .4rem 0;
                                            margin-bottom: .4rem;
                                        }
                                        .cards-container {
                                            height: 25rem !important;
                                            overflow-y: auto;
                                            grid-gap: 2rem 2rem;
                                            grid-template-columns: repeat(auto-fit, minmax(17rem, 17rem));
                                            .card {
                                                margin-top: 1.5rem;
                                                box-shadow: 0px 3px 6px #00000029;
                                                border-radius: 10px;
                                                border: .1rem solid #F5F5F5;
                                                transition: 1s;
                                                display: inline-block;
                                                margin-right: 1rem;
                                                width: 17rem;
                                                height: 8.2rem;
                                                cursor: pointer;
                                                .imgAndDisc {
                                                    height: 8rem;
                                                    margin-bottom: 1rem;
                                                    margin-left: 0 !important;
                                                    .card-img {
                                                        background-size: cover;
                                                        border-radius: 10px;
                                                        height: 8rem;
                                                        background-position: center;
                                                    }
                                                }
                                                .card-body {
                                                    padding: .3rem;
                                                    margin-left: 2.5%;
                                                    .card-disc {
                                                        color: $lightFontColor;
                                                        font-size: 10px;
                                                        font-weight: bold;
                                                    }
                                                }
                                                .card-title {
                                                    color: $darkFontColor;
                                                    font-weight: bold;
                                                    font-size: 14px;
                                                }
                                                .deatailsDiv {
                                                    border-radius: 10%;
                                                    margin-bottom: 2rem;
                                                    background-color: #E8E8E8;
                                                    font-size: 14px;
                                                    font-weight: bold;
                                                    color: $lightFontColor;
                                                    display: flex;
                                                    justify-content: center;
                                                    height: 2rem;
                                                    width: 2rem;
                                                    align-items: center;
                                                    // cursor: pointer ;
                                                }
                                                .detailsDivSelected {
                                                    border: 1px solid red;
                                                }
                                            }
                                            .flip-card-inner {
                                                position: relative;
                                                width: 100%;
                                                height: 100%;
                                                transition: transform 0.8s;
                                                transform-style: preserve-3d;
                                            }
                                            .flip-card:hover .flip-card-inner {
                                                transform: rotateY(180deg);
                                            }
                                            .flip-card-front,
                                            .flip-card-back {
                                                position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                backface-visibility: hidden;
                                                /* Safari */
                                                backface-visibility: hidden;
                                            }
                                            .flip-card-back {
                                                // background-color: $primaryColor;
                                                background-color: #E9EBED;
                                                padding-top: 3rem;
                                                border-radius: 10px;
                                                border: .1rem solid #F5F5F5;
                                                transform: rotateY(180deg);
                                            }
                                        }
                                         ::-webkit-scrollbar {
                                            width: 6px;
                                        }
                                         ::-webkit-scrollbar-track {
                                            background: #f1f1f1;
                                        }
                                         ::-webkit-scrollbar-thumb {
                                            background: $primaryColor;
                                            border-radius: 1rem;
                                        }
                                         ::-webkit-scrollbar-thumb:hover {
                                            background: rgba(202, 42, 1, .5);
                                        }
                                        footer {
                                            position: fixed;
                                            bottom: 0;
                                            background-color: white;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            height: 3.5rem;
                                            width: 100%;
                                            box-shadow: -4px -3px 6px #00000029;
                                            .p-info {
                                                color: $darkFontColor;
                                                .p-picture {
                                                    background-size: cover;
                                                    object-fit: cover;
                                                    border-radius: 50%;
                                                    width: 2.5rem;
                                                    height: 2.5rem;
                                                    margin-top: 1%;
                                                }
                                                .details-container {
                                                    height: 2.5rem;
                                                    margin-top: 3%;
                                                    line-height: .2;
                                                    .p-name {
                                                        font-size: 20px;
                                                        font-weight: 600;
                                                    }
                                                    .p-details {
                                                        font-size: 12px;
                                                    }
                                                }
                                            }
                                            .lock {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                                
                                .col-lg-8,
                                .col-lg-1,
                                .col-md-2,
                                .col-lg-10 {
                                    padding-right: 0px !important;
                                }
                                
                                .sm-icon-container {
                                    color: $primaryColor;
                                    height: 4.5rem;
                                    text-align: center;
                                    cursor: pointer;
                                    display: inline-block;
                                    width: 8rem;
                                    margin-top: .5rem;
                                    font-weight: bold;
                                    font-size: 16px;
                                    .icon {
                                        margin-top: .4rem;
                                    }
                                }
                                
                                .categoryActive {
                                    background-color: rgba(44, 62, 80, .1);
                                    border: 1px solid rgba(44, 62, 80, .2);
                                    // border-radius: 2rem;
                                    border-radius: 10px;
                                    // color: white;
                                    color: $primaryColor;
                                }
                                
                                .middle-icon-container {
                                    color: $lightFontColor;
                                    height: 5rem;
                                    text-align: center;
                                    font-weight: bold;
                                    font-size: 14px;
                                    cursor: pointer;
                                    // transition: .5s;
                                    box-shadow: 0px 3px 6px #00000029;
                                    border-radius: 10px;
                                    padding: .5rem;
                                    .icon {
                                        margin-top: .3rem;
                                    }
                                    // &:hover {
                                    //     transform: scale(1.2);
                                    // }
                                }
                                
                                .foodType {
                                    width: 8rem;
                                    margin-left: 1rem;
                                }
                                
                                .food-selected {
                                    background-color: rgba(44, 62, 80, .1);
                                    border: 1px solid rgba(44, 62, 80, .2);
                                    border-radius: 10px;
                                    color: $primaryColor;
                                }
                                
                                .margin-top {
                                    margin-top: 30rem;
                                }
                                
                                // modal
                                .modal {
                                    display: none;
                                    position: absolute;
                                    z-index: 1;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100vh;
                                    overflow-x: hidden;
                                    background-color: rgb(0, 0, 0);
                                    background-color: rgba(0, 0, 0, 0.4);
                                    .modal-header {
                                        display: flex;
                                        justify-content: space-evenly;
                                        margin-bottom: 1rem;
                                    }
                                    .modal-content {
                                        background-color: #fefefe;
                                        position: absolute;
                                        top: 15%;
                                        right: 15%;
                                        margin: 0 auto;
                                        border: 1px solid #888;
                                        width: 70%;
                                    }
                                    .close {
                                        color: #aaa;
                                        float: right;
                                        font-size: 28px;
                                        font-weight: bold;
                                    }
                                    .close:hover,
                                    .close:focus {
                                        color: black;
                                        text-decoration: none;
                                        cursor: pointer;
                                    }
                                    label {
                                        text-align: left;
                                        font-weight: bold;
                                        margin-bottom: 0;
                                    }
                                    .margin-bottom {
                                        margin-bottom: 2.5rem;
                                    }
                                    .column-six {
                                        width: 49%;
                                        display: inline-block;
                                    }
                                    .column-three {
                                        width: 32.5%;
                                        display: inline-block;
                                    }
                                    .column-two {
                                        width: 23%;
                                        display: inline-block;
                                    }
                                    input:hover,
                                    select:hover,
                                    textarea:hover {
                                        cursor: pointer;
                                    }
                                    .row {
                                        margin: 0 0 !important;
                                    }
                                    .btnsContainer {
                                        display: flex;
                                        margin-bottom: 20px;
                                        justify-content: space-around;
                                        padding: 0 2rem;
                                    }
                                    .button {
                                        background-color: $primaryColor;
                                        color: white;
                                    }
                                }
                                
                                .table {
                                    margin-top: 1rem;
                                    transition: 1s;
                                    cursor: pointer;
                                    display: inline-block;
                                    text-align: center;
                                }
                                
                                 ::-webkit-scrollbar {
                                    width: 6px;
                                }
                                
                                 ::-webkit-scrollbar-track {
                                    background: #f1f1f1;
                                }
                                
                                 ::-webkit-scrollbar-thumb {
                                    background: $primaryColor;
                                    border-radius: 1rem;
                                }
                                
                                 ::-webkit-scrollbar-thumb:hover {
                                    background: rgba(202, 42, 1, .5);
                                }
                                
                                #addCustomerModal {
                                    input {
                                        border: none;
                                        outline: none;
                                        background-color: #E8E8E8;
                                        padding: .5rem;
                                    }
                                }
                                
                                ////////////////////////////////////////////////
                                @media (max-width: 2250px) {
                                    .barcode {
                                        width: 41% !important;
                                    }
                                    .margin-top {
                                        margin-top: 25rem !important;
                                    }
                                }
                                
                                @media (max-width:1600px) {
                                    .barcode {
                                        width: 51% !important;
                                    }
                                    .margin-top {
                                        margin-top: 15rem !important;
                                    }
                                }
                                
                                @media (max-width:1200px) {
                                    .lg-icon-container {
                                        font-size: 11px !important;
                                    }
                                    .cheque .order {
                                        flex-wrap: wrap;
                                    }
                                    .order-details {
                                        width: 100% !important;
                                        flex-wrap: wrap;
                                        .order-info {
                                            width: 100% !important;
                                        }
                                    }
                                }
                                
                                @media (max-width: 1025px) {
                                    .right-sectoin {
                                        .barcode {
                                            width: 75% !important;
                                        }
                                    }
                                    .middle-section {
                                        .header {
                                            .order-num {
                                                font-size: 24px !important;
                                                line-height: 2.2 !important;
                                            }
                                            .time {
                                                line-height: 6.4 !important;
                                                font-size: 9px !important;
                                            }
                                        }
                                        .add-user {
                                            flex-wrap: wrap;
                                            height: 4rem !important;
                                            .label {
                                                font-size: 12px !important;
                                            }
                                        }
                                        .cheque {
                                            .order {
                                                .order-details {
                                                    flex-wrap: wrap;
                                                    .order-info {
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                        .charge {
                                            font-size: 1.2rem !important;
                                            margin-top: 1.5rem !important;
                                        }
                                        .footer {
                                            width: 25%;
                                        }
                                    }
                                    .sm-icon-container {
                                        width: 5rem;
                                    }
                                    .middle-icon-container {
                                        font-size: 8px !important;
                                        height: 4.5rem !important;
                                    }
                                    .middle-section-icon-container {
                                        width: 3.9rem;
                                        height: 4rem;
                                    }
                                }
                                
                                @media(max-width: 991px) {
                                    .margin-top {
                                        margin-top: 8rem;
                                    }
                                    .lg-icon-container {
                                        font-size: 14px !important;
                                    }
                                    .middle-section {
                                        padding-left: 0.5rem !important;
                                    }
                                    .barcode {
                                        width: 100% !important;
                                    }
                                }
                                
                                @media (max-width: 769px) {
                                    .main-wrapper {
                                        .right-sectoin {
                                            .barcode {
                                                margin-top: 1rem !important;
                                            }
                                            .cards-container {
                                                .card {
                                                    margin-right: .7rem;
                                                }
                                            }
                                        }
                                    }
                                    .middle-section {
                                        .header {
                                            .order-num {
                                                font-size: 14px !important;
                                                line-height: 3.9!important;
                                            }
                                            .time {
                                                line-height: 7 !important;
                                                font-size: 8px !important;
                                            }
                                        }
                                        .add-user {
                                            .label {
                                                font-size: 9px !important;
                                            }
                                        }
                                        .cheque {
                                            .order {
                                                .order-details {
                                                    .order-info {
                                                        font-size: 10px;
                                                        .sub-info {
                                                            font-size: 8px;
                                                        }
                                                    }
                                                    .count {
                                                        .no {
                                                            width: 1.2rem;
                                                        }
                                                        .arrow-up {
                                                            width: 1.2rem;
                                                        }
                                                        .arrow-down {
                                                            width: 1.2rem;
                                                        }
                                                    }
                                                    .price {
                                                        font-size: 13 px;
                                                    }
                                                }
                                            }
                                        }
                                        .charge {
                                            font-size: .9rem !important;
                                            line-height: .9 !important;
                                        }
                                    }
                                    .middle-icon-container {
                                        width: 5rem;
                                    }
                                    .sm-icon-container {
                                        width: 4.2rem;
                                        p {
                                            font-size: 12px;
                                        }
                                    }
                                    .middle-section-icon-container {
                                        width: 3.2rem;
                                        height: 4rem;
                                        font-size: 12px;
                                    }
                                }
                                
                                @media ( max-height: 1500px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 59vh !important;
                                            margin-top: 1rem;
                                            margin-bottom: 1rem;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 75vh !important;
                                            margin-top: 1rem;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 1350px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 55vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 72vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 1350px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 52vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 1150px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 48vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 67vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 1050px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 40vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 63vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 950px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 36vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 60vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 900px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 32vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 850px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 30vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 800px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 27vh !important;
                                            margin-top: .5rem !important;
                                            margin-bottom: .5rem !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 58vh !important;
                                            margin-top: .5rem !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 770px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 25vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 55vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 740px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 22vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 54vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 700px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 21vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 52vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 680px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 15vh !important;
                                        }
                                        .right-sectoin .cards-container {
                                            height: 50vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 660px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 14vh !important;
                                        }
                                    }
                                }
                                
                                @media ( max-height: 640px) {
                                    .main-wrapper {
                                        .middle-section .cheque {
                                            height: 10vh !important;
                                        }
                                    }
                                }